

 <footer class="footer"> 
    <div class="container" style="padding-top: 20px; text-align: center;">
    <a href="https://facebook.com" target="_blank"> <i class="social-icon  fa fa-facebook  "></i> </a>
    <a href="https://twitter.com" target="_blank"> <i class="social-icon fa fa-twitter  "></i> </a>
    <a href="https://instagram.com" target="_blank"> <i class="social-icon fa fa-instagram "></i> </a>
    <a href="https://gmail.com" target="_blank"> <i class="social-icon fa fa-envelope "></i> </a>
    <a href="https://pinterest.com" target="_blank"> <i class="social-icon fa fa-pinterest"></i> </a>
    <a href="https://youtube.com" target="_blank"> <i class="social-icon fa fa-youtube "></i> </a> <br>
    <span style="color: beige; font: 1em sans-serif;">Copyright © 2021 NETFLIX. All Rights Reserved.</span>
    </div>
</footer>   
