<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/movies.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{% block title %} {% endblock title%}</title> -->
    <title>movies</title>
</head>

 <body>

    <script>
        function toggle() {
            var trailer = document.querySelector('.trailer');
            let video = document.querySelector('.video');
            trailer.classList.toggle('active');
            video.currentTime = 0;
            video.pause();
        }

    </script>
    {% block body %}
    {% endblock body %}
</body>

</html>

