<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <form action="/upload/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Movie Name</label>
                        <input type="text" class="form-control" name="name"
                            placeholder="The Power of your Subconscious Mind" />
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Joseph Murphy" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">About Movie</label>
                        <textarea class="form-control" name="about" rows="3"
                            placeholder="This Movie can bring to your notice the innate power that the sub-conscious holds."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Movie Poster</label>
                        <input class="form-control" type="file" name="poster" />
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Movie Poster for Card</label>
                        <input class="form-control" type="file" name="c_poster" />
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Movie Link</label>
                        <input type="text" class="form-control" name="link" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Movie Category</label>
                        <select class="form-select" name="category" aria-label="Default select example">
                            <option selected>Select Category</option>
                            <option value="kids">Kids</option>
                            <option value="Popular-Movies">Popular movies</option>
                            <option value="Popular-TV-Shows">Popular TV Shows</option>
                            <option value="Action&Triller">Action & Thriller</option>
                            <option value="Classic-Romance">Classic Romance</option>
                            <option value="Horror">Horror</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Bollywood">Bollywood</option>
                            <option value="Family">Family</option>
                            
                        </select>
                    </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-warning">Upload Movie</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>